
h1 {
    color: white;
    margin: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  
  h2 {
    color: white;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  
  fieldset {
    margin-bottom: 10px;
    border: 1px solid; color:aqua;
  }
  
  li {
    color: white;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
  }
  
  legend {
    border: 1px solid; color:aqua;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  #foto {
    margin: 25px;
    border: 2px solid; color:aqua;
    padding: 5px;
  }
  
  body {
    background-image: url("https://i.postimg.cc/qvrcZdFg/wallpaperbetter-com-7680x4320.jpg");
    background-size: 125%;
  }
  
  #página2 {display: none;}
  
  #Primera_Página {
    border: 1px solid; color:white;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    background: black;
    font-size: 20px;
    margin: 10px;
  }
  
  #Segunda_Página {
    border: 1px solid; color:white;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
    background: black;
    font-size: 20px;
    margin: 10px;
    }